body {
    background-color: turquoise;
}

#content {
    padding: 1em;
}

#content h1 {
    color: white;
    font-size: 6vh;
    font-family: 'Paytone One';
    text-align: center;
    padding: 0;
    margin: 0;
}

#content h2 {
    color: white;
    font-size: 4vh;
    font-family: 'Paytone One';
    text-align: center;
    padding: 0;
    margin: 0;
}

#content p {
    font-size: 24px;
    font-family: 'Dosis';
    color: white;
    text-align: left;
	width: 720px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#content p a {
	color: turquoise;
	background-color: black;
	border-radius: 1em;
	padding: 0.33em;
}

#content p a:hover {
	color: yellow;
}

.resume {
	background-color: black;
	border-radius: 1em;
	padding: 0.5em;
	width: 720px;
	max-width: 100%;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}
.resume p {
	padding: 0.25em;
	margin: 0.25em;
}

footer {
    position: fixed;
    bottom: 0;
    font-family: 'Dosis';
    font-size: 16px;
	color: turquoise;
	background-color: black;
	border-radius: 1em;
	padding: 0.33em;
}

.layout {
    background-color: #0a3d38;
    border-radius: 1em;
}

.layout h1 {
    color: white;
    font-size: 6vh;
    font-family: 'Paytone One';
    text-align: center;
    padding: 0;
    margin: 0;
}

.layout h2 {
    color: white;
    font-size: 4vh;
    font-family: 'Dosis';
    text-align: center;
    padding: 0;
    margin: 0;
}

.layout nav ul {
	color: white;
    font-size: 24px;
    font-family: 'Dosis';
    text-align: left;
	width: 720px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.header-content {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
    background-color: black;
    border-radius: 1em 1em 0 0;
}

.logo {
    padding: 0 1vh 0 1vh;
    height: 6vh;
    color: purple;
    text-decoration: none;
}

.logo img {
	height: 6vh;
}

.header-content nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content nav a {
    font-family: 'Paytone One';
    color: white;
    text-decoration: none;
    padding: 0 1vh 0 1vh;
    font-size: 3vh;
}

.header-content nav a:hover {
    color: turquoise;
}

.gallery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 0;
}