@font-face {
	font-family: "Regular";
	font-size: 9px;
	src: url("../assets/fonts/8bitOperatorPlus-Regular.ttf");
}
@font-face {
	font-family: "Bold";
	font-size: 9px;	
	src: url("../assets/fonts/8bitOperatorPlus-Bold.ttf");
}

$content-width: 75vh;
$main: #ffffff;
$main-background: #000000;
$font-style: 'Regular', sans-serif;
$font-color: #ffffff;
$link-color: #ffffff;
$link-hover-color: #ffc40d;
$heading-font: 'Bold', sans-serif;
$heading-font-color: #ffffff;
$light: #ffffff;
$header:  #603cba;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}